[submodule "external/tiny-json"]
	path = external/tiny-json
	url = https://github.com/axelriet/tiny-json.git
[submodule "external/memchk"]
	path = external/memchk
	url = https://github.com/axelriet/memchk.git
